.chatbox {
  margin-top: 50px;
  border: 2px solid black;
  height: 80vh;
}
.chatboxheader {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 2px solid black;
  height: 30px;
}
.closebtn {
  width: 10px;
  height: 10px;
  font-size:50 px;
  
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
}

.list {
  border-bottom: 2px solid black;
  height: 50vh;
  list-style: none;
  
}
.bottomchatbox {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
  padding: 10px;
}
input {
  width: 700px;
  height: 30px;
  border-radius: 10px;
  margin-right: 5px;
}
button {
  margin-right: 10px;
  padding: 10px;
  border-radius: 10px;
}
p {
  font-weight: bold;
}
